# =================================
#             PGADMIN
# =================================
PGADMIN_EMAIL=___SEU_EMAIL_DO_PORTAL_DO_BANCO_DE_DADOS___
PGADMIN_PASSWORD=___SUA_SENHA_DO_PORTAL_DO_BANCO_DE_DADOS___

# =================================
#               N8N
# =================================
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=___SEU_USUARIO_DO_BANCO_DE_DADOS___
DB_POSTGRESDB_PASSWORD=___SUA_SENHA_DO_BANCO_DE_DADOS___

EXECUTIONS_MODE=queue
QUEUE_BULL_REDIS_HOST=redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_DB=2
OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
N8N_CONCURRENCY_PRODUCTION_LIMIT=10

N8N_ENCRYPTION_KEY=___STRING_ALEATORIA___
N8N_USER_MANAGEMENT_JWT_SECRET=___STRING_ALEATORIA___
N8N_BLOCK_ENV_ACCESS_IN_NODE=true

N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=___SUA_URL_DO_N8N___
WEBHOOK_URL=___SUA_URL_DO_WEBHOOK___

EXECUTIONS_DATA_PRUNE=true
EXECUTIONS_DATA_MAX_AGE=336
EXECUTIONS_DATA_PRUNE_MAX_COUNT=50000

NODE_OPTIONS=--max-old-space-size=2048
N8N_LOG_LEVEL=info

GENERIC_TIMEZONE=America/Sao_Paulo
N8N_DIAGNOSTICS_ENABLED=false

N8N_RUNNERS_MODE=external
N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
N8N_NATIVE_PYTHON_RUNNER=true
N8N_RUNNERS_AUTH_TOKEN=___STRING_ALEATORIA___

N8N_DEFAULT_BINARY_DATA_MODE=filesystem
NODES_EXCLUDE="[]"

# =================================
#            CLOUDFLARE
# =================================
CLOUDFLARE_TOKEN=___SEU_CLOUDFLARE_TOKEN___
